In [1]:
import pandas as pd
import matplotlib as plt
from pathlib import Path
import pprint

In [2]:
Ocean_Temps = Path("Ocean_Temps.csv")
ocean_df = pd.read_csv(Ocean_Temps)
ocean_df

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,1/1/1945,1,75.1,57.2,17.9,137,7.19
1,1/2/1945,1,80.3,56.2,13.0,157,6.96
2,1/3/1945,51,70.7,61.0,11.4,190,3.79
3,1/4/1945,2,70.7,61.1,15.2,156,5.46
4,1/5/1945,0,84.7,58.6,10.3,146,7.44
...,...,...,...,...,...,...,...
28869,1/16/2024,55,73.7,64.8,24.0,150,5.47
28870,1/17/2024,1,73.5,64.7,29.5,133,5.66
28871,1/18/2024,0,76.8,64.8,31.3,124,6.26
28872,1/19/2024,0,86.6,65.2,23.5,120,7.15
28873,1/20/2024,2,77.9,65.1,13.2,271,5.01

In [10]:
# Convert 'time' column to datetime

ocean_df['time'] = pd.to_datetime(ocean_df['time'])


# Create a boolean mask to filter rows where the month is not September
mask = ocean_df['time'].dt.month != 9

# Filter the DataFrame using the boolean mask
sept_ocean_data = ocean_df[~mask]

sept_ocean_data_backup = sept_ocean_data

ocean_df['year'] = ocean_df['time'].dt.year

sept_ocean_data

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm),year
243,1945-09-01,51,59.5,49.3,11.7,333,2.00,1945
244,1945-09-02,3,60.1,47.4,9.3,336,1.94,1945
245,1945-09-03,3,60.3,48.8,10.1,328,2.30,1945
246,1945-09-04,55,59.3,52.0,12.3,170,2.34,1945
247,1945-09-05,2,61.4,51.4,12.4,148,2.91,1945
...,...,...,...,...,...,...,...,...
28757,2023-09-26,51,63.3,56.4,13.7,143,3.48,2023
28758,2023-09-27,0,64.7,56.3,24.3,125,3.61,2023
28759,2023-09-28,1,72.1,55.4,9.4,109,4.11,2023
28760,2023-09-29,51,68.3,57.5,17.6,307,3.02,2023
28761,2023-09-30,61,60.9,55.4,17.4,244,3.03,2023

In [15]:



average_max_temp = sept_ocean_data.groupby(['year']).mean().reset_index()

average_max_temp

,year,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,1945,1945-09-15 12:00:00,25.566667,65.646667,53.420000,11.696667,194.900000,2.839000
1,1946,1946-09-15 12:00:00,35.933333,61.250000,50.146667,11.866667,225.200000,2.511333
2,1947,1947-09-15 12:00:00,32.133333,62.130000,50.490000,11.840000,185.333333,2.670000
3,1948,1948-09-15 12:00:00,30.000000,60.400000,48.750000,12.526667,233.300000,2.655000
4,1949,1949-09-15 12:00:00,29.033333,63.376667,51.976667,12.990000,220.700000,2.766333
...,...,...,...,...,...,...,...,...
74,2019,2019-09-15 12:00:00,24.333333,65.336667,57.003333,19.866667,195.933333,3.050000
75,2020,2020-09-15 12:00:00,28.366667,60.860000,53.223333,19.173333,218.033333,2.734000
76,2021,2021-09-15 12:00:00,25.333333,61.570000,54.183333,21.096667,197.900000,2.994333
77,2022,2022-09-15 12:00:00,27.366667,61.663333,53.810000,18.273333,218.466667,2.859667
78,2023,2023-09-15 12:00:00,40.266667,60.943333,53.330000,21.413333,254.433333,2.967000

In [ ]:
average_max_temp